<body class="inner-page page-read">
  <div class="main-wrap">
    {{> figment/navbar}}
    <div class="container">
      <div class="row">
        <div class="container">
          <h1 class="center homeText" id="fuck">Figment.Observer</h1>
        </div>
      </div>
      <div class="center" id="menu">
        <a class="dropdown-trigger btn waves-effect btn-large transparent" id="genre" data-target="dropdown1">Genre
          <i class="material-icons right">arrow_drop_down</i>
        </a>
        <a class="btn waves-effect btn-large transparent" id="popular" href="/read/votes">Most Popular</a>
        <a class="btn waves-effect btn-large transparent" id="recent" href="/read">Most Recent</a>
      </div>

      
      <ul id="dropdown1" class="dropdown-content genre-select-list">
        <li>
          <a id="all">All</a>
        </li>
        <li>
          <a id="humor">Humor</a>
        </li>
        <li>
          <a id="mystery">Mystery</a>
        </li>
        <li>
          <a id="romance">Romance</a>
        </li>
        <li>
          <a id="scifi">Sci-Fi</a>
        </li>
      </ul>

      <div class="story">
        <div class="row">
          {{#each story}}
          <div class="story-item col s12 m6 l4 matchHeight {{this.genre}}">
            <p class="type">{{this.genre}}</p>
            <div class="card">
              <div class="card-image">
                <img src="http://picsum.photos/420/320?image=2{{this.id}}">
                <span class="card-title">{{this.title}}</span>

                <!-- Modal Trigger -->
                <a class="btn-floating halfway-fab waves-effect waves-light red modal-trigger" href="#modal{{this.id}}">
                  <i class="material-icons">add</i>
                </a>
              </div>
              <div class="card-content">
                <div class="row">
                  <p>{{this.description}}</p>
                  <p id="identifier">{{this.id}}</p>



                <p id="identifierTwo">{{this.id}}</p>
                <p class="author-name">by: {{user.firstname}} {{user.lastname}}</p>
                </div>

                  <div class="voting-section">
                    
                  <i class="material-icons disliked down" data-author-id="{{this.id}}">sentiment_very_dissatisfied</i>
                  <a id="score" class="current-score">{{this.votes}}</a>
                  <i class="material-icons liked up" data-author-id="{{this.id}}">favorite</i>
                  <span class="new badge light-blue darken-3 genre-tag" data-badge-caption="">{{this.genre}}</span>
                </div>
                {{!-- <i class="material-icons dislike">sentiment_very_dissatisfied</i>
                <i class="material-icons like">favorite</i> --}}
                

                <!-- Modal Structure -->
                <div id="modal{{this.id}}" class="modal modal-fixed-footer">
                  <div class="modal-content">
                    <h4>{{this.title}}</h4>
                    <p class="tdStuff">{{this.body}}</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{> figment/scripts}}
  
  <script src="/js/read.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/turndown@4.0.2/lib/turndown.cjs.min.js" type="text/javascript"></script>
</body>